@import '../../../../styles/palette.scss';

.component{
    width: 50%;
    margin: 50px auto;
    background-color: inherit;
    a{
        text-decoration: none;
    }
    h3,p,h1,h2{
        font-family: Arial, Helvetica, sans-serif;
    }
    h3{
        color: $font3;
        font-size: 24px;
    }
    h1{
        font-size: 37px;
    }
    h2{
        font-size: 37px;
        margin-top: 40px;
    }
    p{
        a{
            color: $font3-dark;
        }
    }
    ul{
        li{
            font-size: 24px;
        }
    }
    table{
        td{
            font-size: 24px;
            padding-left: 20px;
        }
    }
}

.darkTheme{
    h1,p,li,h2,td{
        color: $font1;
    }
}

.whiteTheme{
    h1,p,li,h2,td{
        color: $font2;
    }
}
