<div class="component" [ngClass]="{'whiteTheme': theme, 'darkTheme': !theme}">
    <h3>About Me</h3>
    <h1>That Is what I Am. </h1>
    <p>
        I am Avtandil Merebashvili, a Front-End Developer. 
        <br>
        <br>
        My main target is to turn your designed pictures in a pixel perfect websites, or work with group and supply with 
        different componnents, features and etc. 
        <br>
        <br>
        I love working with a group, finding solutions for different situations with groupmates and plannig our next steps.
        I currently have some projects both alone and with the group.
        <br>
        <br>
        I currently study <a href="https://cu.edu.ge/ka/schoolss/cst/programs-cst/bachelor-cst/informatics-bachelor">Computing Science</a> 
        in <a href="https://cu.edu.ge/">CU</a>, I have graduated <a href="https://helloblog.ge/story/TBC-IT-Academy">TBC IT Academy</a> 
        where I learned Front-End and Angular as Framework. I have made projects like transactions maker, which is js project, I also have done MarkUp project
        which is written in both css and scss markup languages which helped develope my css skills. I have made CRUD model and 
        currency changer in angular Framework. On what Project I used authenthication, routing, comunication with Back-End(used Json-Server),
        Forms and other important Angular concepts.
        <br>
        <br>
        I also Have worked in a group. We have made template of Online bank. My buisness there was to create component toggle and
        feature which contains charts about incomes and expanses of account. 
    </p>
    <h2>Links</h2>
    <ul>
        <a href="https://drive.google.com/file/d/1te_L8Tl6CbNSEurRF5jP7Qm0MBg0s91K/view" target="blank">
            <li>
                RESUME
            </li>
        </a>
        <a href="https://github.com/AvtoMerebashvili" target="blank">
            <li>
                GitHub
            </li>
        </a>
        <a href="https://www.facebook.com/avto.merebashvili.1/" target="blank">
            <li>
                Facebook
            </li>
        </a>
    </ul>
    <h2>Contact</h2>
    <table>
        <tr>
            <td>Email:</td>
            <td>avtandil.merebashvili.2@gmail.com</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>+995 579 00 91 49</td>
        </tr>
    </table>
</div>
