<div class="component" [ngClass]="{'whiteTheme': theme, 'darkTheme': !theme}">
    <div class="content">
        <div class="img"></div>
        <div class="writens">
            <p>Hello</p>
            <h1>I'm Avtandil Merebashvili</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet,
                quam et. Dolore tempore cum molestiae consequuntur totam quod,
                vel dolorum exercitationem quis. Vitae, consequatur nam iste
                fuga explicabo quibusdam similique.
            </p>
            <div class="icons">
                <i class="fab fa-github"></i>
                <i class="fab fa-facebook"></i>
                <i class="fas fa-envelope"></i>
            </div>
        </div>
    </div>
</div>
