@import '../../../../styles/palette.scss';

.component{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    .content{
        width: 80%;
        margin: 8% auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
        .writens{
            width: 45%;
            margin-top: 20px;
            h1{
                text-align: center;
                font-size: 35px;
                font-family: Arial, Helvetica, sans-serif;
            }
            p{
                width: 70%;
                margin: 0;
                text-align: center;
                margin: 0 auto;
                font-family: Arial, Helvetica, sans-serif;
                &:first-child{
                    font-size: 25px;
                }
            }
            .icons{
                display: flex;
                justify-content: space-between;
                width: 30%;
                margin: 20px auto;
                i{
                    font-size: 20px;
                    color: $light-blue;
                    &:hover{
                        cursor: pointer;
                    }
                }
                button{
                    border: none;
                    background-color: inherit;
                    width: min-content;
                    height: min-content;
                    padding: 0;
                }
            }
        }
    }
}

.whiteTheme{
    h1,p{
        color: $font2;
    }
}

.darkTheme{
    h1,p{
        color: $font1;
    }
}