<div class="component" [ngClass]="{'whiteTheme': theme, 'darkTheme': !theme}">
    <div class="content">
        <div class="writens">
            <p>Hello</p>
            <h1>I'm Avtandil Merebashvili</h1>
            <p>
               I am web developer 
               <br>
               <br>
               Hope you enojy my portfolio
               <br>
               <br>
               Have a nice trip
            </p>
            <div class="icons">
                <a href="https://github.com/AvtoMerebashvili" target="blank"><i class="fab fa-github"></i></a>
                <a href="https://www.facebook.com/avto.merebashvili.1/" target="blank"><i class="fab fa-facebook"></i></a>
                <a routerLink="email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>
