@mixin mailer {
    position: absolute;
    right: 20px;
    bottom: 63px;
    border-radius: 5px;
    transition: 0.5s;
    .topBar{
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: space-between;
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            width: 280px;
        }
        .buttons{
            width: 80px;
            display: flex;
            justify-content: flex-end;
            button{
                background-color: inherit;
                border: none;
                width: 20px;   
                margin-right: 16px;
                font-size: 18px;
                color: $light-blue;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
