@import "../../../../styles/palette.scss";

.component{
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        input{
            margin-top: 8px;
            width: 75%;
            height: 40px;
            border: 1px solid $dark-white;
            background-color: $input-bg1;
            border-radius: 20px;
            padding-left: 27px;
            outline: none;
        }
        textarea{
            width: 75%;
            max-width: 75%;
            max-height: 158px;
            margin-top: 8px;
            border-radius: 20px;
            border: 1px solid $dark-white;
            padding-left: 27px;
            background-color: $input-bg1;
        }
        .send{
            height: 40px;
            width: 75%;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            input{
                width: 75px;
                background-color: #2d88ff;
                outline: none;
                border: none;
                color: #e9e9e9;
                margin: 0;
                font-size: 16px;
                padding: 0;
                &:hover{
                    cursor: pointer;
                    background-color: #1758ac;
                }
                &:checked{
                    background-color: #1758ac;
                }
            }
        }
    }
}