@import "../../../../styles/palette.scss";

.component{
    width: 50%;
    height: auto;
    margin: 87px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        input{
            margin-top: 20px;
            width: 75%;
            height: 40px;
            border: 1px solid gray;
            background-color: $input-bg1;
            border-radius: 20px;
            padding-left: 27px;
        }
        textarea{
            width: 75%;
            max-width: 75%;
            max-height: 284px;
            margin-top: 21px;
            background-color: $input-bg1;
        }
        .toggle{
            margin-top: 20px;
        }
    }
}