@import '../../../../styles/palette.scss';
@import '../styles/toggle.scss';

.normalOff {
  @include toggle;
  .toggle {
    justify-content: flex-start;
    .round{
      background-color: $lighli-gray;
    }
  }
}

.normalOn {
  @include toggle;
  .toggle {
    justify-content: flex-end;
    .round{
      background-color: $light-gray;
    }
  }
}
