$bg-color1: #18191a;
$bg-color2: #ffffff;
$bg-color3: #282828;
$bg-color4: #f3f2f2;
$bg-img:"";
$font1: #e9e9e9;
$font2: rgb(20, 20, 20);
$font3: #fbbf24;
$font3-dark: #c9991f;
$font4: #b0b0b0;
$shadow: #d6d6d6;
$light-blue:#2d88ff;