@import '../../../styles/shared.scss';
@import '../../../styles/palette.scss';

.component{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $shadow;
    background-color: inherit;
    .place{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 84%;
        height: 100%;
        margin-left: 5%;
        p{
            color: $font;
            font-family: Montserrat,sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
        .right{
            width: 22%;
            min-width: fit-content;
            display: flex;
            justify-content: space-between;
            height: 100%;
            .butt{
                padding: 0 6px;
                button{
                    height: 100%;
                    width: 100%;
                    border: none;
                    background-color: inherit;
                    padding: 0;
                    color: $font;
                    font-family: Montserrat, sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    &:hover{
                        cursor: pointer;
                        color: #b9b9b9; 
                    }
                }
                .lineOn{
                    width: 100%;
                    height: 2px;
                    background-color: $font;
                    margin-top: -1px;
                }
            }
        }
    }
}
