<div class="component">
    <div class="place">
       <div class="left">
            <p>A.M</p>
        </div>
        <div class="right">
            <div class="butt">
                <button (click)="routTo('home')">Home</button>
                <div [ngClass]="{lineOn: page == 'home', noDisplay: page != 'home'}"></div>
            </div>
            <div class="butt">
                <button (click)="routTo('about')">About</button>
                <div [ngClass]="{lineOn: page == 'about', noDisplay: page != 'about'}"></div>
            </div>
            <div class="butt">
                <button (click)="routTo('projects')">Projects</button>
                <div [ngClass]="{lineOn: page == 'projects', noDisplay: page != 'projects'}"></div>
            </div>
        </div> 
    </div>
</div>