@import '../../../styles/shared.scss';
@import '../../../styles/palette.scss';

.component{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid $shadow;
    .place{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 84%;
        height: 100%;
        margin-left: 5%;
        .left{
            width: 40px;
            height: 40px;
            border: 1px solid $font3;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: Montserrat,sans-serif;
                font-weight: 400;
                font-size: 18px;
            }
        }
        
        .right{
            width: 22%;
            min-width: fit-content;
            display: flex;
            justify-content: space-between;
            height: 100%;
            .butt{
                padding: 0 6px;
                button{
                    height: 100%;
                    width: 100%;
                    border: none;
                    background-color: inherit;
                    padding: 0;
                    font-family: Montserrat, sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    &:last-child{
                        width: 45px;
                        .icon{
                            width: 45px;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 1px solid white;
                            border-radius: 14px;
                        }
                    }
                    
                    &:hover{
                        cursor: pointer;
                        color: #b9b9b9; 
                    }
                }
                .lineOn{
                    width: 100%;
                    height: 2px;
                    margin-top: -1px;
                }
            }
        }
    }
}


.whiteTheme{
    p,button{
        color: $font2;
    }
    button{
        .icon{
            background-color: $bg-color4;
            i{
                color: $font2;
            }
        }
    }
    .lineOn{
        background-color: $font2;
    }
}

.darkTheme{
    p,button{
        color: $font1;
    }
    button{
        .icon{
            background-color: $bg-color3;
            i{
                color: $font1;
            }
        }
    }
    .lineOn{
        background-color: $font1;
    }
}