@import "../../styles/palette.scss";

.component{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .top{
        background-color: inherit;
    }
    .down{
        height: 100%;
        .mailer{
            width: 360px;
            height: 365px;
            position: absolute;
            right: 20px;
            bottom: 62px;
            background-color: $bg-color5;
            .topBar{
                width: 100%;
                height: 46px;
                display: flex;
                justify-content: flex-end;
                button{
                    background-color: inherit;
                    border: none;
                    width: 20px;   
                    margin-right: 16px;
                    font-size: 18px;
                    color: $light-blue;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .foot{
        height: 10%;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        backdrop-filter: blur(5px);
        p{
            margin-left: 8px;
        }
    }
}

.whiteTheme{
    background-color: $bg-color2;
    .foot{
        color: $font2;
    }
}
.darkTheme{
    background-color: $bg-color1;
    .foot{
        color: $font1;
    }
}