<div class="component" [ngClass]="{'whiteTheme': theme, 'darkTheme': !theme}">
    <div class="top">
        <app-top-bar (Theme)="setTheme($event)"></app-top-bar>
    </div>
    <div class="down">
        <router-outlet></router-outlet>
        <div class="mailer">
            <div class="topBar">
                <button><i class="fas fa-minus"></i></button>
                <button><i class="fas fa-times"></i></button>
            </div>
            <app-send-email class="s"></app-send-email>
        </div>
    </div>
    <div class="foot">
        <i class="far fa-copyright"></i> 
        <p>{{year}} Avtandil Merebashvili - All Rights Reserved</p>
    </div>
</div>
