@import "../../styles/palette.scss";

.component{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .top{
        background-color: inherit;
    }
    .down{
        height: 100%;
    }
    .foot{
        height: 10%;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        backdrop-filter: blur(5px);
        p{
            margin-left: 8px;
        }
    }
}

.whiteTheme{
    background-color: $bg-color2;
    .foot{
        color: $font2;
    }
}
.darkTheme{
    background-color: $bg-color1;
    .foot{
        color: $font1;
    }
}