@import "../../styles/palette.scss";
@import './styles/mailer.style.scss';

.component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    transition: 1s;
    .top{
        background-color: inherit;
    }
    .down{
        height: 100%;
        .mailerOn{
            @include mailer;
            width: 360px;
            height: 365px;
            .topBar{
                width: 100%;
                height: 46px;
                display: flex;
                justify-content: space-between;
            }
        }
        .mailerOff{
            @include mailer;
            height: 45px;
            width: 80px;
            .topBar{
                p{
                    display: none;
                }
                .buttons{
                    button{
                        margin: 0;
                        width: 40px;
                    }
                }
            }
            .sendEmail{
                display: none;
            }
        }
        .mailerClosed{
            display: none;
        }
    }
    .foot{
        height: 10%;
        background-color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        backdrop-filter: blur(5px);
        p{
            margin-left: 8px;
        }
    }
}


.whiteTheme{
    background-color: $bg-color2;
    .down{
        .mailerOff{
            background-color: $bg-color2;
            border: 1px solid $dark-white;
        }
        .mailerOn{
            background-color: $bg-color2;
            border: 1px solid $dark-white;
            .topBar{
                p{
                    color: $font2;
                }
            }
        }
    }
    .foot{
        color: $font2;
    }
}

.darkTheme{
    background-color: $bg-color1;
    .down{
        .mailerOff{
            background-color: $bg-color5;
        }
        .mailerOn{
            background-color: $bg-color5;
            .topBar{
                p{
                    color: $font1;
                }
            }
        }
    }
    .foot{
        color: $font1;
    }
}