body, html{
    margin: 0;
}

*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: rgb(36, 36, 36); 
}
   

::-webkit-scrollbar-thumb {
    background: #d6d6d6; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}