@mixin toggle {
    display: flex;
    width: fit-content;
    align-items: center;
    .toggle {
      width: 40px;
      height: 22px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      padding: 0 4px 0 4px;
      transition: 0.3s;
      input {
        display: none;
      }
      .round {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
    p {
      transition: 0.3s;
      margin-left: 19px;
    }
  }
  